@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

:root {
  --main-bg-color: #ffff00;
  --main-text-color: #1a1a00;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Inconsolata", monospace;
}

.btn-status-task{
    width: 100%;
    border:none;
    border-radius:0;
}

.icon-button{
    width: 35px;
    height: 30px;
    cursor: pointer;
    padding: 2px 0;
}

.title {
  color: var(--main-text-color);
}

.table-result {
  overflow: auto;
  color: var(--main-text-color);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.main-content > section {
  background-color: #ffff66;
  color: var(--main-text-color);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 80vh;
}

@media (max-width: 840px) {
  .main-content {
    grid-template-columns: 1fr;
    height: auto;
  }
  .main-content > section {
    height: auto;
  }
}
